# binaries
bin/*
*.bin
*.csv

# cmake folders
build/
.cache/
CMakeFiles/
Testing/

# cmake files
Makefile
CMakeCache.txt
DartConfiguration.tcl
compile_commands.json
*.cmake
*.a

# execptions
!db/compras.csv
!db/compras_avail.bin
